html {
    scroll-behavior: smooth;
    background-image: url(/assets/wp3207750.jpg);
}

body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#p1 {
    font-style: italic;
}

img {
    width: 170px;
    height: 220px;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.nav-link {
    padding: 0 20px;
    line-height: 50px;
}