body {
font-family:'Open Sans', sans-serif;
display: flex;
flex-direction: column;
justify-content: space-between;
}

#p1 {
    font-style:italic;
}

img {
    width: 170px;
    height: 220px;
}

* {
box-sizing: border-box;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}